:root{

    /*Tipografía*/

	--font-general: Arial, Helvetica, sans-serif;

    /*Colores*/

    --color-transparent: transparent;
    --black-strong: black;
    --black-opacity-1:rgba(91, 112, 131, 0.4);
    --gray-strong: gray;
    --gray-light-1: rgb(207, 217, 222);
    --gray-light-2: rgb(239, 243, 244);
    --white-standard: white;
    --blue-middel: rgb(29, 155, 240);

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem ;
    font-family: var(--font-general);
}

/* main */

.main-container-principal{
    flex: 1 0 auto;
}

.container-seccion1-seccion2{
    display: flex;
    flex-direction: column;
}


/* seccion 1 */

.container-seccion1-seccion2__container-seccion1-titulo-login{
    padding: 3.6rem;
    display: flex;
    flex-direction: column;
    order: 1;
}

/* icono header */

.container-seccion1-seccion2__container-seccion1-icono{
    padding-bottom: 1.2rem;
}

.container-seccion1-seccion2__seccion1-icono{
    font-size: 4.5rem;
    color: var(--blue-middel);
}

/* titulo y subtitulo */

.container-seccion1-seccion2__seccion1-titulo{
    font-size: 4.72rem;
    letter-spacing: -0.8px;
    line-height: 5.2rem;
    color: var(--black-strong);
    margin: 4rem 0;
}

.container-seccion1-seccion2__seccion1-subtitulo{
    font-size: 2.735rem;
    line-height: 2.8rem;
    color: var(--black-strong);
    margin-bottom: 2rem;
    font-weight: bolder;
}

.container-seccion1-seccion2__seccion1-resgistro-terminos-login{
    min-width: 15rem;
    max-width: 30rem;
}

/* social - botones */

.container-seccion1-seccion2__redirect-google, .container-seccion1-seccion2__redirect-apple, .container-seccion1-seccion2__redirect-phone-email, .container-seccion1-seccion2__redirect-login, .container-modal-phone-email__redirect-boton-siguiente{
    text-decoration: none;
}

.container-seccion1-seccion2__container-google, .container-seccion1-seccion2__container-apple, .container-seccion1-seccion2__container-phone-email, .container-seccion1-seccion2__container-login, .container-modal-phone-email__container-boton-siguiente{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-size: 1.5rem; 
    border: 0.1rem solid var(--gray-light-1);
    border-radius: 5rem;
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--white-standard);
}

.container-seccion1-seccion2__container-phone-email--change-color-boton-phone-email{
    background-color: var(--blue-middel);
    border: 0.1rem solid var(--color-transparent);
}

.container-seccion1-seccion2__imagen-google, .container-seccion1-seccion2__imagen-apple{
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 1rem;
}

.container-seccion1-seccion2__titulo-google, .container-seccion1-seccion2__titulo-apple, .container-seccion1-seccion2__titulo-phone-email, .container-seccion1-seccion2__titulo-login, .container-modal-phone-email__titulo-boton-siguiente{
    margin-left: 0rem;
    color: var(--black-strong);
    text-align: center;
    font-size: 1.4rem;
}

.container-seccion1-seccion2__container-phone-email--change-color-titulo-apple{
    font-weight: bolder;
    font-size: 1.5rem;
}

.container-seccion1-seccion2__container-phone-email--change-color-titulo-phone-email{
    color: var(--white-standard);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.51rem;
    font-weight: 600;
}

.container-seccion1-seccion2__container-phone-email--change-color-titulo-login{
    font-weight: bolder;
    font-size: 1.5rem;
    color: var(--blue-middel);
}

/* hr */

.container-seccion1-seccion2__container-hr-o{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem 0;
}

.container-seccion1-seccion2__hr1, .container-seccion1-seccion2__hr2{
    background-color: var(--gray-light-2);
    border: 0.1rem solid var(--gray-light-2);
    width: 100%;
    margin: 0 0.5rem;
}

.container-seccion1-seccion2__o{
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--black-strong);
}

/* terminos */

.container-seccion1-seccion2__terminos{
    margin-bottom: 2rem;
}

.container-seccion1-seccion2__terminos, .container-seccion1-seccion2__span-terminos{
    font-size: 1.1rem;
    color: var(--gray-strong);
}

.container-seccion1-seccion2__span-terminos{
    color: var(--blue-middel);
}

/* login */

.container-seccion1-seccion2__titulo-principal-login{
    font-size: 1.7rem;
    color: var(--black-strong);
    font-weight: 600;
}

/* seccion 2 imagen - icono */

.container-seccion1-seccion2__container-seccion2-imagen-icono{
    position: relative;
    display: flex;
    flex-direction: column;
    order: 2;
}

/* imagen */

.container-seccion1-seccion2__container-seccion2-imagen{
    height: 30rem;
    width: 100%;
}

.container-seccion1-seccion2__seccion2-imagen{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* icono */

.container-seccion1-seccion2__container-seccion2-icono{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-seccion1-seccion2__seccion2-icono{
    font-size: 22rem;
    color: var(--white-standard);
}

/* footer */

.footer-container{
    background-color: var(--white-standard);
    flex-shrink: 0;
}

.footer-container__ul-container-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.6rem;
}

.footer-container__li-container-links{
    list-style: none;
    margin: 0.4rem 1.6rem 0.4rem 0;
    color: var(--gray-strong);
}

/* links */ 

.footer-container__links{
    text-decoration: none;
    cursor: pointer;
    color: var(--gray-strong);
    white-space: nowrap;
    font-size: 1.3rem;
}

.footer-container__links:hover{
    text-decoration: underline;
}

/* MODAL REGISTRATE PASO 1 */

.container-modal-phone-email{
    background-color: var(--black-opacity-1);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container-modal-phone-email__container-formulario{
    background-color:black;
    width: 100%;
    /*width: 600px;*/
    height: 100%;
    /*height: none;*/
  }

  #container-modal-phone-email:target{
    opacity: 1;
    pointer-events: auto;
  }

/* header modal */

  .container-modal-phone-email__header-close-logo{
    position: relative;
    background-color: var(--white-standard);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* iconos header */

.container-modal-phone-email__container-icono-header-modal{
    position: absolute;
    left: 1rem;
    /*border: 1px solid blue;*/
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.container-modal-phone-email__icono-header-modal{
    font-size: 2rem;
    color: var(--black-strong);
}

.container-modal-phone-email__icono-logo-header-modal{
    font-size: 3rem;
    color: var(--blue-middel);
}

/* body modal */

.container-modal-phone-email__body-container-formulario-modal{
    background-color: var(--white-standard);
    overflow: auto;
    height: 100vh;
    /*height: 60vh;*/
}

.container-modal-phone-email__container-formulario-modal{
    padding: 0 3.2rem 14rem 3.2rem;
}

.container-modal-phone-email__container-titulo-formulario{
    margin: 2.8rem 0;
}
.container-modal-phone-email__titulo-formulario{
    color: var(--black-strong);
    font-size: 2.6rem;
}

.container-modal-phone-email__form-registrate{
    width: 100%;
}

.container-modal-phone-email__container-input-name, .container-modal-phone-email__container-input-email,
.container-modal-phone-email__container-input-date, .container-modal-phone-email__container-input-date-mes, 
.container-modal-phone-email__container-input-date-dia, .container-modal-phone-email__container-input-date-ano {
    position: relative;
    margin: 10px 0;
}

.container-modal-phone-email__container-input-date{
    display: block;
}

.container-modal-phone-email__container-input-date-mes, .container-modal-phone-email__container-input-date-dia, 
.container-modal-phone-email__container-input-date-ano{
    width: 100%;
}

.container-modal-phone-email__input-name, .container-modal-phone-email__input-phone-email, 
.container-modal-phone-email__input-date, .container-modal-phone-email__input-date-mes, 
.container-modal-phone-email__input-date-dia, .container-modal-phone-email__input-date-ano {
    background: none;
    color: var(--gray-light-2);
    font-size: 1.8rem;
    padding: 2rem 1rem;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--gray-light-2);
    color: var(--black-strong);
}

.container-modal-phone-email__input-date {
    color: var(--white-standard);
}
  
.container-modal-phone-email__input-date:focus, .container-modal-phone-email__input-date:valid {
    color: var(--black-strong);
}
  
.container-modal-phone-email__input-date:focus::before, .container-modal-phone-email__input-date:valid::before {
    content: "";
}

.container-modal-phone-email__input-date{
    -webkit-appearance: none !important;
}

.container-modal-phone-email__input-date::-webkit-calendar-picker-indicator, 
.container-modal-phone-email__input-date::-webkit-inner-spin-button,
.container-modal-phone-email__input-date::-webkit-outer-spin-button{
    display: none !important;
    -webkit-appearance: none !important;
}

.container-modal-phone-email__input-date-mes--padding-flecha, .container-modal-phone-email__input-date-dia--padding-flecha, 
.container-modal-phone-email__input-date-ano--padding-flecha{
    padding: 2rem;
}

input:focus, select:focus {
    outline: none;
    border: 0.2rem solid #2196f3;
    transition: 300ms ease all;
}

input:focus ~ label, select:focus ~ label  {
    top: 5px;
    font-size: 12px;
    color: #2196f3;
}

input:valid ~ label, select:valid ~ label {
    top: 5px;
    font-size: 12px;
    color: #2196f3;
}

.container-modal-phone-email__container-input-contador {
    color: transparent;
    position: absolute;
    top: 4px;
    right: 10px;
    transition: 300ms ease all;
}

input:focus ~ .container-modal-phone-email__container-input-contador {
    color: var(--black-strong);
    position: absolute;
    top: 4px;
    right: 10px;
    transition: 300ms ease all;
    color: var(--gray-strong);
}

label {
    color: var(--gray-strong);
    font-size: 1.6rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 1rem;
    top: 2.2rem;
    transition: 300ms ease all;
}

.container-modal-phone-email__container-cambio-phone-email{
    display: flex;
    flex-direction: row;
    justify-content: end;
    cursor: pointer;
}
.container-modal-phone-email__cambio-phone-email{
    font-size: 1.5rem;
    color: var(--blue-middel);
}

.container-modal-phone-email__container-titulo-date{
    margin-bottom: 0.8rem;
}

.container-modal-phone-email__titulo-date{
    color: var(--black-strong);
    font-size: 1.5rem;
    font-weight: 700;
}

.container-modal-phone-email__info-date{
    color: var(--gray-strong);
    font-size: 1.4rem;
}

.container-modal-phone-email__container-svg-select-option{
    display: none;
    position: relative;
}

.container-modal-phone-email__container-svg-select-option svg{
    position: absolute;
    right: 4px;
    top: 22px;
    width: 16px;
    pointer-events: none;
    fill: var(--gray-strong);
}

select {
    border: solid 1px #000;
    appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
    background: url("https://raw.githubusercontent.com/ourjs/static/gh-pages/2015/arrow.png") no-repeat scroll right center transparent;
}

.container-modal-phone-email__container-input-date-mes--margen, .container-modal-phone-email__container-input-date-dia--margen{
    margin-right: 1.2rem;
}

.container-modal-phone-email__footer-container-formulario-modal{
    background-color: var(--white-standard);
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.container-modal-phone-email__container-boton-footer-formulario-modal{
    padding: 2.4rem 3.2rem;
}

.container-modal-phone-email__container-boton-siguiente--change-color-boton-siguiente{
    background-color: var(--black-strong);
    border: 0.1rem solid var(--color-transparent);
    margin: 0;
}

.container-modal-phone-email__titulo-boton-siguiente--change-color-titulo-siguiente{
    font-weight: bolder;
    font-size: 1.5rem;
    color: var(--white-standard);
}

.container-modal-phone-email__redirect-boton-siguiente--disable-boton-siguiente{
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}

.container-modal-phone-email__redirect-boton-siguiente--active-boton-siguiente{
    cursor: pointer;
    pointer-events:visible;
    opacity: 1;
}