/* MEDIA QUERIES */

/* mobile */

@media(min-width: 501px){

    /* titulo y subtitulo */

    .container-seccion1-seccion2__seccion1-titulo{
        font-size: 6.4rem;
        line-height: 9rem;
    }

    .container-seccion1-seccion2__seccion1-subtitulo{
        font-size: 3.4rem;
        line-height: 3.8rem;
    }

}

@media(min-width: 601px){

    /* seccion 1 */

    .container-seccion1-seccion2__container-seccion1-titulo-login{
        max-width: 60rem;
        margin: 0 auto;
    }

}

@media(min-width: 688px){

    /* MODAL */

    .container-modal-phone-email__container-formulario{
        height: auto;
        width: 60rem;
        border-radius: 1.5rem;
    }

    .container-modal-phone-email__header-close-logo{
        border-top-right-radius: 1.5rem;
        border-top-left-radius: 1.5rem;
    }

    .container-modal-phone-email__body-container-formulario-modal{
        height: 80vh;
    }

    .container-modal-phone-email__container-formulario-modal{
        padding: 0 3.2rem 10rem 3.2rem;
    }

    .container-modal-phone-email__container-input-date{
        display: none;
    }

    .container-modal-phone-email__container-svg-select-option{
        display: flex;
    }

    .container-modal-phone-email__body-container-formulario-modal, .container-modal-phone-email__footer-container-formulario-modal{
        border-bottom-right-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
    }

}